@model List<AppRoleListViewModel>
@{
	ViewData["Title"] = "Personel Listesi";

	ViewBag.Module = "Ayarlar";
	ViewBag.ActionModule = "UserList";
	ViewBag.ControllerModule = "Account";

	ViewBag.ActionHome = "UserList";
	ViewBag.ControllerHome = "Account";

	ViewBag.Menu1 = "Kullanıcı Yönetimi";
	ViewBag.ActionMenu1 = "UserList";
	ViewBag.ControllerMenu1 = "Account";

	ViewBag.Menu2 = "Rol Yönetimi";
	ViewBag.ActionMenu2 = "RoleList";
	ViewBag.ControllerMenu2 = "Account";

	ViewBag.Menu3 = "";
	ViewBag.ActionMenu3 = "";
	ViewBag.ControllerMenu3 = "";

	ViewBag.Menu4 = "";
}
@section css{

<!-- DataTables -->
<link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<style type="text/css">

	.input-text {
		background-color: white;
		-webkit-appearance: none;
		border: 1px solid #cccccc;
		margin-bottom: 8px;
		padding: 8px 4px;
		position: relative;
		width: 100%;
		z-index: 3;
		font-size: larger;
	}

		.input-text:focus {
			border-color: #006EB7 !important;
		}

			.input-text:focus::placeholder {
				color: transparent;
			}

	#dataTableStyle1_filter input {
		border: none;
		border-bottom: 1px solid lightGray;
		border-radius: 0px;
	}

	#dataTableStyleDoc_filter input {
		border: none;
		border-bottom: 1px solid lightGray;
		border-radius: 0px;
	}

	.dataTables_wrapper .dataTables_length {
		color: #1B262C;
		border: none !important;
		font-size: 14px;
		font-weight: 500 !important;
	}

		.dataTables_wrapper .dataTables_length select {
			border: none !important;
			color: #0F4C75 !important;
			font-size: 14px !important;
		}

	.dataTables_wrapper .dataTables_info {
		border: none;
		color: #0F4C75 !important;
		font-size: 14px !important;
	}

	.pagination {
		margin-top: 0;
		border-radius: 50px;
		background: #fff;
		padding: 5px;
		display: flex;
	}

		.pagination li a, .pagination li span {
			padding: 0;
			color: #212529;
			border-radius: 50px !important;
			border: none;
			margin: 0 3px;
			min-width: 32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
		}

			.pagination li a:hover {
				color: #212529;
			}

		.pagination li.active a, .pagination li.active a:hover {
			color: #fff !important;
			background: #0F4C75;
		}

	.not-found {
		font-size: 18px;
	}
</style>
}


<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</div>
<!-- /.container-fluid -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<div class="mt-2">
							<h3 class="card-title" style="font-weight:600">Kullanıcı rol listesi</h3>
						</div>
						<div class="text-right">
							<a data-toggle="modal" data-target="#AddRoleModal" class="btn btn-sm" data-backdrop="static" data-keyboard="false" style="border:none;background-color:#FFFFFF;color:#3282B8;border-radius:0px"><i class="fas fa-plus"></i>&nbsp; Yeni Ekle</a>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body">

						<table id="dataTableStyle1" class="table table-borderless table-hover table-sm">
							<thead class="no-border" style="background-color:#006EB7;border:none;color:white;font-style:normal">
								<tr>
									<th>#</th>
									<th>Rol</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td><a data-toggle="modal" data-target="#UpdateRoleModal" data-backdrop="static" data-user-id="@item.Id" data-keyboard="false" style="font-weight:500;cursor:pointer;color:#006EB7">@item.Id</a></td>
										<td>@item.Name</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="modal fade" id="AddRoleModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Yeni Role</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="frmAddRole" method="post" autocomplete="off">
					<div class="content mt-2">
						<div class="container-fluid">
							<div class="row form-group col-lg-12">
								<div class="col-lg-2">
									<label for="roleNameId" class="label-helper ml-2">Ad</label>
								</div>
								<div class="col-lg-10">
									<input id="roleNameId" class="input-text form-control form-control-border border-width-2" placeholder="Role Adı" required />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-end">
				<button id="addRole" type="button" class="btn btn-primary float-right" style="border:none;border-radius:0px">Kaydet</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>

<div class="modal fade" id="UpdateRoleModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Rol Düzenle</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="frmUpdateRole" method="post" autocomplete="off">
					<div class="content mt-2">
						<div class="container-fluid">
							<div class="row form-group col-lg-12">
								<div class="col-lg-2">
									<label for="updateRoleNameId" class="label-helper ml-2">Ad</label>
								</div>
								<div class="col-lg-10">
									<input id="updateRoleNameId" class="input-text form-control form-control-border border-width-2" placeholder="Rol Adı" required />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-end">
				<button id="updateRole" type="submit" class="btn btn-primary float-right" style="border:none;border-radius:0px">Kaydet</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

@section script{
<!-- InputMask -->
<script src="~/AdminLTE-3.1.0/plugins/moment/moment.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="~/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/AdminLTE-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="~/AdminLTE-3.1.0/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/AdminLTE-3.1.0/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/jszip/jszip.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/AdminLTE-3.1.0/plugins/jquery-validation/jquery.validate.min.js"></script>

<script>
	  $(function () {
			  $("#AddRoleModal").on('show.bs.modal', function () {
		  document.getElementById('frmAddRole').reset();
	  });

			  $("#addRole").click(function () {
		  let model = {
			  Name: $("#roleNameId").val()
		  };

		  $.ajax({

			  type: "POST",
			  url: '@Url.Action("AddRoleJSON", "Account")',
			  data: { model: model },
			  success: function (data) {
				  specModel = jQuery.parseJSON(data);
				  window.location.reload();

			  },
			  error: function (error) {
			  }
		  });
	  });


	  $("#UpdateRoleModal").on('show.bs.modal', function (e) {
		document.getElementById('frmUpdateRole').reset();

		let userId = $(e.relatedTarget).data('user-id');
		$.ajax({

			type: "POST",
			url: '@Url.Action("GetRoleInfo", "Account")',
			data: { userId: userId },
			success: function (data) {
				userModel = jQuery.parseJSON(data);
				//window.location.reload();
				let model = {
					Id: userModel.Id,
					Name: userModel.Name
				};
				$("#updateRoleNameId").val(model.Name)

				$("#updateRole").click(function () {

					let updatedModel = {
						Id: userModel.Id,
						Name: $("#updateRoleNameId").val()
					};


					$.ajax({
					  type: "POST",
						url: '@Url.Action("UpdateRoleJson", "Account")',
						data: { model: updatedModel },
					  success: function (data) {
						  rModel = jQuery.parseJSON(data);
						  window.location.reload();
					  },
					  error: function (error) {
					  }
				  });
				});
			},
			error: function (error) {
			}
		});
	});



</script>

<script>
		///////////////////////////////////////////////////////////////////// [DataTable Formatları]
			$(function () {
		$("#dataTableStyle1").DataTable({
					"language":
								{
									//"url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/tr.json",

		"decimal":        "",
		"emptyTable":     "Kayıt yok.",
		"info":           "",
		"infoEmpty":      "",
		"infoFiltered":   "",
		"infoPostFix":    "",
		"thousands":      ",",
		"lengthMenu":     "",
		"loadingRecords": "Yükleniyor...",
		"processing":     "İşleniyor...",
		"search":         '<i class="fas fa-search"></i>',
		"zeroRecords":    "Kayıt bulunamdı.",
		"paginate": {
			"first":      "First",
			"last":       "Last",
			"next":       "Next",
			"previous":   "Previous"
		},
		"aria": {
			"sortAscending":  ": activate to sort column ascending",
			"sortDescending": ": activate to sort column descending"
		}
	},
				"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Tümü"] ],
				"pageLength":17,
				"pagingType": "numbers",
				"dom": '<"top"if>lt<"bottom"lp><"clear">'
				})
				});

</script>

}